.header{
  background-color: grey;
}




.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}
.cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
  background-color:rgba(0, 0, 0, 0.5);
}

.cart-items-container.active {
  right: 0;
}

.cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 1.5rem;
  background-color:white;
  border-radius: 2%;
}

.cart-items-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.cart-items-container .cart-item .fa-times:hover {
  color: var(--main-color);
}

.header .cart-items-container .cart-item img {
  height: 7rem;
}

.cart-items-container .cart-item .content h3 {
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.cart-items-container .cart-item .content .price {
  font-size: 1.5rem;
  color: var(--main-color);
}

.cart-items-container .btn {
  width: 100%;
  text-align: center;
}
