#btn-mas {
  display: none;
}
.container2 {
  position: fixed;
  bottom: 20px;
  left: 20px;
  // right: 20px;
  // top: 100px;
}
.redes a,
.btn-mas label {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease;
}
.redes div {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease;
}
// .user1{
//   background-image: url("https://firebasestorage.googleapis.com/v0/b/clinicaonline-65c8f.appspot.com/o/patients%2Fmiriam%40gmail.com_Miriam.png?alt=media&token=7fd1aef9-9034-4e15-a626-72a9fb1089ea");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
// .user2{
//   background-image: url("https://firebasestorage.googleapis.com/v0/b/clinicaonline-65c8f.appspot.com/o/patients%2Fpablo%40gmail.com_Pablo.png?alt=media&token=090b0089-8f5c-43ee-a828-9b2a37cbb30e");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
// .user3{
//   background-image: url("https://firebasestorage.googleapis.com/v0/b/clinicaonline-65c8f.appspot.com/o/patients%2Fmaxi%40gmail.com_Maxi.png?alt=media&token=5361f1ea-5a22-46c1-92bf-aa67d2967905");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
// .user4{
//   background-image: url("https://firebasestorage.googleapis.com/v0/b/clinicaonline-65c8f.appspot.com/o/specialists%2Flionel%40gmail.com_Lionel.png?alt=media&token=f7653dfb-b75d-4a69-be95-63a8a6a5a97e");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
// .user5{
//   background-image: url("https://firebasestorage.googleapis.com/v0/b/clinicaonline-65c8f.appspot.com/o/specialists%2Fpepe%40gmail.com_Pepe.png?alt=media&token=07fa3f80-a7bf-41b3-9a69-80833c937d0b");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
// .user6{
//   background-image: url("https://firebasestorage.googleapis.com/v0/b/clinicaonline-65c8f.appspot.com/o/administrators%2Fmaradona%40gmail.com_Diego.png?alt=media&token=c6f94065-7c37-4d18-a5d6-bd55ce3358f5");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
.redes a:hover {
  background: grey;
  color: black;
}
.redes a {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}
#btn-mas:checked ~ .redes a {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.btn-mas label {
  cursor: pointer;
  // background: #f44141;
  background: rgb(109, 108, 108);
  font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label {
  transform: rotate(135deg);
  font-size: 25px;
}
