<app-navbar></app-navbar>
<section class="home" id="home">
      <div class="content">
            <h3>fresh coffee in the morning</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat labore, sint cupiditate distinctio
                  tempora reiciendis.</p>
            <a href="#" class="btn">get yours now</a>
      </div>
</section>
<app-about></app-about>
<app-menu></app-menu>
<app-products></app-products>
<app-review></app-review>
<app-contact></app-contact>
<app-blog></app-blog>
<app-footer></app-footer>