<header class="header">

      <a href="#" class="logo">
            <img src="../../../../assets/images/logo.png" alt="">
      </a>

      <nav class="navbar">
            <a (click)="scroll('home')">home</a>
            <a (click)="scroll('about')">about</a>
            <a (click)="scroll('menu')">menu</a>
            <a (click)="scroll('products')">products</a>
            <a (click)="scroll('review')">review</a>
            <a (click)="scroll('contact')">contact</a>
            <a (click)="scroll('blogs')">blogs</a>
      </nav>

      <div class="icons">
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn" (click)="openTrolley()"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
      </div>

      <div class="search-form">
            <input type="search" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
      </div>
      <!----->
      <app-trolley [dataTrolley]="data"></app-trolley>
      

</header>