<section class="blogs" id="blogs">

      <app-heading [span]="'our'" [html]="'blogs'"></app-heading>  
      <div class="box-container">
  
          <div class="box">
              <div class="image">
                  <img src="../../../../../assets/images/blog-1.jpeg" alt="">
              </div>
              <div class="content">
                  <a href="#" class="title">tasty and refreshing coffee</a>
                  <span>by admin / 21st may, 2021</span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dicta.</p>
                  <app-button [html]="'read more'"></app-button>
              </div>
          </div>
  
          <div class="box">
              <div class="image">
                  <img src="../../../../../assets/images/blog-2.jpeg" alt="">
              </div>
              <div class="content">
                  <a href="#" class="title">tasty and refreshing coffee</a>
                  <span>by admin / 21st may, 2021</span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dicta.</p>
                  <app-button [html]="'read more'"></app-button>
              </div>
          </div>
  
          <div class="box">
              <div class="image">
                  <img src="../../../../../assets/images/blog-3.jpeg" alt="">
              </div>
              <div class="content">
                  <a href="#" class="title">tasty and refreshing coffee</a>
                  <span>by admin / 21st may, 2021</span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dicta.</p>
                  <app-button [html]="'read more'"></app-button>
              </div>
          </div>
  
      </div>
  
  </section>