<section class="menu" id="menu">

      <app-heading [span]="'our'" [html]="'menu'"> </app-heading>
  
      <div class="box-container">
  
          <div class="box">
              <img src="../../../../../assets/images/menu-1.png" alt="">
              <h3>tasty and healty</h3>
              <div class="price">$15.99 <span>20.99</span></div>
              <app-button [html]="'add to cart'"></app-button>
          </div>
  
          <div class="box">
              <img src="../../../../../assets/images/menu-2.png" alt="">
              <h3>tasty and healty</h3>
              <div class="price">$15.99 <span>20.99</span></div>
              <app-button [html]="'add to cart'"></app-button>
          </div>
  
          <div class="box">
              <img src="../../../../../assets/images/menu-3.png" alt="">
              <h3>tasty and healty</h3>
              <div class="price">$15.99 <span>20.99</span></div>
              <app-button [html]="'add to cart'"></app-button>
          </div>
  
          <div class="box">
              <img src="../../../../../assets/images/menu-4.png" alt="">
              <h3>tasty and healty</h3>
              <div class="price">$15.99 <span>20.99</span></div>
              <app-button [html]="'add to cart'"></app-button>
          </div>
  
          <div class="box">
              <img src="../../../../../assets/images/menu-5.png" alt="">
              <h3>tasty and healty</h3>
              <div class="price">$15.99 <span>20.99</span></div>
              <app-button [html]="'add to cart'"></app-button>
          </div>
  
          <div class="box">
              <img src="../../../../../assets/images/menu-6.png" alt="">
              <h3>tasty and healty</h3>
              <div class="price">$15.99 <span>20.99</span></div>
              <app-button [html]="'add to cart'"></app-button>
          </div>
  
      </div>
  
  </section>
